@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background: #f2f2f2;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  flex-grow: 1;
}

/*Header*/

.page-header {
  color: #000000;
}

.page-header-logo-link {
  display: block;
  margin-bottom: -6px;
  z-index: 1;
}

.page-header-logo {
  display: block;
}

.clear-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.clear-section {
  padding: 0;
  margin: 0;
  border: none;
}

.navigation {
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  text-transform: capitalize;
  align-items: center;
  min-width: 430px;
  margin-left: 30px;
}

.navigation-user {
  min-width: 320px;
  margin-left: auto;
  justify-content: flex-end;
}

.navigation-user-item {
  width: 44px;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  display: block;
  padding: 20px 0;
  position: relative;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #756157;
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-item {
  margin: 0 16px;
}

.navigation-link-current:after {
  content: "";
  border: 1px solid #756257;
  position: absolute;
  width: 100%;
  margin: 0 auto;
  margin-top: 19px;
  display: block;
  box-sizing: border-box;
  z-index: 1;
}

.button-nav-user-favorites {
  position: relative;
}

.button-nav-user-favorites::after {
  position: absolute;
  content: "12";
  color: #fff;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #7DB54F;
  left: 20px;
  top: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  font-family: inherit;
  font-weight: 700;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  width: 140px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background: #e5e5e5;
  color: #ffffff;
}

.button-brown:hover,
.button-brown:focus {
  background: #615048;
  outline: none;
}

.button-brown:active {
  background: #756157;
}

.button-blue:hover,
.button-blue:focus {
  background: #68a2ca;
  outline: none;
}

.button-blue:active {
  background: #82b3d3;
}

.button-green:hover,
.button-green:focus {
  background: #6c9e42;
  outline: none;
}

.button-green:active {
  background: #7db54f;
}

.nav-user-button {
  border: none;
  background-color: #ffffff;
  position: relative;
  min-width: 44px;
  min-height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-user-svg:hover,
.nav-user-svg:focus-visible {
  fill: #615048;
}

.nav-user-svg:active {
  fill: rgba(117, 97, 87, 0.3);
}

.button-wish {
  font-size: 16px;
  line-height: 20px;
  width: 160px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.navigation-item-button-wish {
  margin-left: 20px;
  margin-right: 0;
}

.big-button {
  width: 191px;
}

.button-reset {
  margin-top: 32px;
  background: transparent;
  outline: 3px solid transparent;
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:focus-visible {
  outline-color: #83B3D3;
  border-radius: 4px;
}

.button-reset:disabled {
  color: #ffffff;
  opacity: 0.1;
}

.button-blue {
  background: #82b3d3;
}

.button-green {
  background: #7db54f;
}

.button-brown {
  background: #756157;
}

.button-gray {
  background: #f2f2f2;
  color: #333333;
  font-weight: 400;
  text-align: center;
}

/*Main*/

.main-container {
  flex-grow: 1;
}

/*Hero-block*/

.welcome {
  background-image: url("../images/hero-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #5282AB;
  padding-top: 51px;
  padding-bottom: 82px;
  position: relative;
}

.welcome::after {
  position: absolute;
  content: "";
  background: url("../images/hero-vector-end.svg");
  width: 100%;
  height: 57px;
  left: 0;
  bottom: -1px;
}

.welcome-hero {
  display: block;
  margin: 0 auto;
}

/*Седона-небольшой городок*/

.advantages-specification-wrapper {
  text-align: center;
  padding: 69px 0px 90px 0px;
}

.advantages-specification {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 25px;
}

/*Полосочка*/

.advantages-title::after {
  content: "";
  width: 60px;
  height: 2px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

/*Полосочка у блока с фото*/

.preview h3::after {
  background: rgba(255, 255, 255, 0.3);
}

/*Полосочка у блока без фото*/

.background-1 h3::after,
.background-2 h3::after {
  background: rgba(0, 0, 0, 0.3);
}

/*Рассмотрим причины*/

.advantages-specification-reasons {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 0;
  color: #333333;
}

/*Список причин/преимуществ*/

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-description-items {
  margin-bottom: 0;
}

.preview {
  display: grid;
  grid-column: 1 / 4;
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-wrapper {
  width: 230px;
  padding: 100px 85px;
  text-align: center;
}

.advantages-wrapper-no-preview {
  padding: 112px 85px;
  text-align: center;
}

.architecture {
  grid-column: 2 / 4;
}

.bridge {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.bridge-wrapper {
  grid-column: 3 / 4;
}

.background-1 {
  background-color: rgba(131, 179, 211, 0.2);
}

.background-2 {
  background-color: rgba(131, 179, 211, 0.12);
}

/*Приезжайте в Седону*/

.advantages-second {
  padding-top: 64px;
  padding-bottom: 64px;
  text-align: center;
}

.advantages-description {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-description-personal {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-bottom: 0;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.services-item-background {
  background: rgba(131, 179, 211, 0.12);
}

.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 102px;
  position: relative;
}

.services-title_house::before {
  content: "";
  background: url("../images/house.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  position: absolute;
  top: 0px;
}

.services-title-food::before {
  content: "";
  background: url("../images/food.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  position: absolute;
  top: 0px;
  left: 77px;
}

.services-title_souvenirs::before {
  content: "";
  background: url("../images/souvenirs.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 76px;
  position: absolute;
  top: 0px;
  left: 77px;
}

.services-item-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 81px 85px;
}

.services-description {
  color: #333333;
  margin: 0;
  margin-top: 30px;
}

/*Заинтересовались?*/

.search-hotels {
  padding: 96px 0;
}

.question {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.date-offer {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin-top: 20px;
  margin-bottom: 0;
}

.button-search-hotel {
  font-size: 20px;
  line-height: 36px;
  width: 376px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 52px auto 0 auto;
}

/*Подписаться*/

.newsletter {
  background: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 415px;
  background-color: #82b3d3;
}

.newsletter-wrapper {
  padding: 96px 258px 104px 258px;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-bottom: 20px;
}

.newsletter-promise {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 0;
}

.field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  width: 432px;
  height: 52px;
  padding: 0;
  padding-left: 20px;
  border-radius: 4px 0px 0px 4px;
  border: none;
}

.newsletter-form {
  margin-top: 54px;
  display: flex;
}

.button-newsletter {
  font-size: 20px;
  line-height: 36px;
  width: 232px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 0px 4px 4px 0px;
}

/*Footer*/

.page-footer-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 40px 70px 30px 70px;
}

.footer-social {
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer-social-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.footer-social-link {
  display: flex;
  min-width: 47px;
  min-height: 40px;
  align-items: center;
  justify-content: center;
}

.footer-social-link:focus-visible {
  outline: none;
}


.footer-social-link:hover .social-item-svg,
.footer-social-link:focus-visible .social-item-svg {
  fill: #68A2CA;
}

.footer-social-link:active .social-item-svg {
  fill: rgba(104, 162, 202, 0.3);
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  width: 720px;
  padding: 5px 195px;
  text-decoration: none;
}

.contacts-phone:hover,
.contacts-phone:focus {
  color: #756157;
  outline: none;
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.madeby {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

.htmlacademy-link {
  display: block;
}

.htmlacademy-link:focus-visible {
  outline: none;
}

.madeby-svg {
  display: block;
}

.htmlacademy-link:hover .madeby-svg,
.htmlacademy-link:focus .madeby-svg {
  fill: #756157;
  outline: none;
}

.htmlacademy-link:active .madeby-svg {
  fill: rgba(117, 97, 87, 0.3);
}

/*Catalog*/

.inner-header {
  margin-bottom: 40px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 8px;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.breadcrumbs-item {
  height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.breadcrumbs-link {
  padding: 3px;
  background-position: center;
}

.breadcrumbs-item-main-page {
  background-image: url("../images/home.svg");
  display: inline-block;
  width: 13px;
  height: 15px;
  background-size: 12px;
  background-repeat: no-repeat;
}

.breadcrumbs-item:after {
  content: "";
  background-image: url("../images/arrow-right.svg");
  display: inline-block;
  width: 7px;
  height: 10px;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
}

.breadcrumbs-item:last-child:after {
  content: none;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.6);
}

.filters-hotels {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.infrastructure {
  margin-bottom: 32px;
}

.infrastructure-item {
  padding-top: 1px;
  padding-bottom: 1px;
}

.infrastructure-list li:not(:last-child) {
  margin-bottom: 16px;
}

.input-control {
  line-height: 23px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 4px;
}

.input-control[type="checkbox"]:checked + .control-mark {
  position: absolute;
  background-image: url("../images/checkbox-icon.svg");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
}

.control:hover {
  opacity: 0.6;
}

.input-control:focus + .control-mark {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.input-control:disabled + .control-mark {
  opacity: 0.3;
}

.input-control[type="radio"] + .control-mark {
  border-radius: 50%;
}

.input-control[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.filters-hotels-group-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  column-gap: 70px;
  margin-right: 140px;
}

.filters-hotels-group {
  border: none;
  margin: 0;
  padding: 0;
}

.range-container {
  width: 288px;
}

.range {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2px;
}

.range label {
  position: relative;
}

.range span {
  position: absolute;
  top: 25%;
  right: 20px;
  width: 20px;
  height: 24px;
  color: #000000;
  opacity: 0.3;
}

.range-scale {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  margin-top: 44px;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: #848884;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.range-toggle:focus {
  outline: 3px solid #83b3d3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 0px;
}

.min-price,
.max-price {
  font-family: inherit;
  font-weight: 700;
  line-height: 24px;
  border: none;
  font-size: 18px;
  padding: 12px 0px 12px 20px;
  width: 123px;
}

.min-price {
  border-radius: 4px 0px 0px 4px;
}

.max-price {
  border-radius: 0px 4px 4px 0px;
}

.min-price:focus-visible,
.max-price:focus-visible {
  outline: 3px solid #83b3d3;
}

.min-price:focus-visible:not(:placeholder-shown),
.max-price:focus-visible:not(:placeholder-shown) {
  outline: 2px solid #000000;
}

.filters-hotels-group-buttons {
  margin-top: 62px;
  margin-left: 70px;
}

.filters-wrapper {
  background-image: url("../images/filters-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 70px 64px 70px;
  color: #ffffff;
  background-color: #5282AB;
}

/*Тип жилья*/

.infrastructure {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.detailed {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

/*Найдено гостиниц*/

.catalog-down-column {
  display: flex;
  padding: 50px 70px 40px;
  align-items: center;
}

.hotels-found {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-right: 200px;
}

.sorting {
  font-family: inherit;
  color: #333333;
  margin-right: 70px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 292px;
  padding: 14px 50px 14px 20px;
  appearance: none;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
  font-size: 18px;
  background-color: #ffffff;
}

.sorting:hover,
.sorting:focus {
  border: 2px solid #68a2ca;
  outline: none;
}

.sorting:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.button-filters-hotels-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 8px;
}

.card {
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.card:hover,
.card:active {
  border: 2px solid #000000;
}

.card:focus {
  border: 2px solid #68a2ca;
  outline: none;
}

.card-cards {
  background-image: url("../images/cards.svg");
}

.card-preview {
  background-image: url("../images/preview.svg");
}

.card-list {
  background-image: url("../images/list.svg");
}

.hotel-card-image {
  display: block;
  margin-bottom: 16px;
}

.hotel-card-link {
  text-decoration: none;
  margin: 0;
}

.hotel-card {
  display: flex;
  padding: 20px;
  flex-direction: column;
  outline: 1px solid #e6e6e6;
  border-radius: 4px;
}

.hotel-card-price {
  margin-left: auto;
}

.stars-wrapper {
  position: relative;
  display: flex;
  width: 140px;
  height: 37px;
}

.stars-4 {
  background-image: url("../images/stars-4.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.stars-3 {
  background-image: url("../images/stars-3.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.stars-2 {
  background-image: url("../images/stars-2.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 10px;
  padding-bottom: 10px;
}


.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
}

.housing {
  color: #333333;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin-left: 70px;
  margin-right: 70px;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 40px;
}

.hotel-card-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
  margin-top: 16px;
}

.pagination {
  display: grid;
  grid-template-columns: repeat(6, 60px);
  column-gap: 8px;
  margin: 40px 70px 60px;
}

.pagination-link {
  min-width: 60px;
  min-height: 60px;
  border-radius: 4px;
  background: #82b3d3;
  border: 1px solid transparent;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-item-dots {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-link:hover:not(.pagination-link-current),
.pagination-link:focus:not(.pagination-link-current) {
  background: #68a2ca;
  border-color: #82b3d3;
  outline: none;
}

.pagination-link:active:not(.pagination-link-current) {
  color: rgba(255, 255, 255, 0.3);
  background: #82b3d3;
  outline: none;
}

.pagination-link-current {
  color: #000000;
  background: #f2f2f2;
}

/*Подписаться в Catalog*/

.newsletter-no-background_title {
  color: inherit;
}

.newsletter-no-background_promise {
  color: inherit;
}

.newsletter-no-background_field {
  background: #f2f2f2;
}

/*Модальное окно*/

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-search-hotels {
  width: 577px;
}

.modal-content {
  position: relative;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: -18px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border-radius: 50%;
  border: none;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus-visible {
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 64px;
}

.field-group {
  margin: 0 auto 4px auto;
  display: flex;
  justify-content: space-between;
}

.field-group-adults-kids {
  display: flex;
  justify-content: space-between;
}

.search-hotels-form-field {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  width: 400px;
  padding: 12px 20px;
  background: #f2f2f2;
  border-radius: 4px;
  border: none;
  background-image: url("../images/calendar.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
}

.search-hotels-form-field:focus-visible {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.search-hotels-form-field:focus-visible:not(:placeholder-shown) {
  outline: 2px solid #000000;
}

.modal-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  display: flex;
}

.modal-label-wrapper {
  margin: 0;
  padding: 0;
  width: 111px;
  display: flex;
  background: #f2f2f2;
  border-radius: 4px;
}

.modal-label-kids {
  margin: 0;
}

.modal-label-adults {
  margin-right: 46px;
}

.modal-form-kids {
  display: flex;
}

.modal-adults-kids {
  display: flex;
}
.max-price[type=number],
.max-price[type=number],
.min-price[type=number],
.min-price[type=number],
.search-hotels-form-number[type=number],
.search-hotels-form-number[type=number],
.max-price[type=number]::-webkit-outer-spin-button,
.max-price[type=number]::-webkit-inner-spin-button,
.min-price[type=number]::-webkit-outer-spin-button,
.min-price[type=number]::-webkit-inner-spin-button,
.search-hotels-form-number[type=number]::-webkit-outer-spin-button,
.search-hotels-form-number[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance:textfield;
  margin: 0;
}

.search-hotels-form-number {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  width: 31px;
  background: #f2f2f2;
  padding: 14px 0px;
  text-align: center;
  border: none;
  color: #000000;
  user-select: none;
  pointer-events: none;
}

.min-price[type="number"]:not(:disabled)::-webkit-input-placeholder,
.max-price[type="number"]:not(:disabled)::-webkit-input-placeholder,
.search-hotels-form-number[type="number"]:not(:disabled)::-webkit-input-placeholder,
.search-hotels-form-field[type="text"]:not(:disabled)::-webkit-input-placeholder {
  color: #000000;
}

.button-search-hotel-modal {
  width: 100%;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
  text-decoration: none;
  margin-top: 48px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.explanation-field-group {
  font-size: 16px;
  display: flex;
  margin: 4px 0 23px 157px;
}

.explanation-field-group_date-first {
  color: #ff5757;
}

.tooltip-toggle {
  border: none;
  display: block;
  padding: 5px;
  background: #83b3d3;
  border-radius: 50%;
  width: 26px;
  height: 26px;
}

.tooltip-icon {
  vertical-align: middle;
  transform: translateY(-1px);
}

.tooltip-text {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  padding: 18px 20px 25px 22px;
  display: block;
  width: 216px;
  background: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  position: absolute;
  top: 77%;
  left: 48%;
  z-index: 1;
  display: none;
}

.tooltip-text::before {
  content: "";
  position: absolute;
  top: -22%;
  right: 42%;
  border: 19px solid transparent;
  border-bottom: 19px solid #333333;
}

.tooltip {
  position: block;
  margin-left: 10px;
  margin-top: 11px;
  margin-right: 46px;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.min-price:disabled,
.max-price:disabled,
.field:disabled,
.search-hotels-form-field:disabled,
.search-hotels-form-number:disabled {
  color: #d3d3d3;
}

.button-modal {
  border: transparent;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  width: 40px;
  background: #f2f2f2
}

.button-modal:focus-visible {
  outline: 3px solid #82b3d3;
  border-radius: 4px;
  z-index: 1;
}

.button-modal:hover svg,
.button-modal:focus-visible svg {
  fill: #000000;
}

.button-modal-minus_svg,
.button-modal-plus_svg {
  vertical-align: middle;
}

.modal-container-close {
  display: none;
}
