@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400px;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

/*Header*/

.page-header {
  color: #000000;
}

.page-header-logo-link {
  display: block;
  position: absolute;
}

.navigation {
  min-height: 64px;
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 465px;
  margin-left: 168px;
  padding: 0;
  text-transform: capitalize;
  align-items: center;
  list-style-type: none;
}

.navigation-item {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
}

ul.navigation-user {
  flex-wrap: wrap;
  align-items: center;
  width: 320px;
  justify-content: flex-end;
  margin-left: auto;
}

.navigation-user-item {
  display: flex;
  padding: 22px 12px;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.navigation-link-current {
  border-bottom: 2px solid #756257;
  padding-bottom: 18px;
}

.button {
  font-family: inherit;
  font-weight: 700;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  width: 140px;
  height: 36px;
  font-size: 16px;
  line-height: 20px;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background: #E5E5E5;
  color: #ffffff;
}

.button-brown:hover,
.button-brown:focus {
  background: #615048;
  outline: none;
}

.button-brown:active {
  background: #756157;
}

.button-blue:hover,
.button-blue:focus {
  background: #68A2CA;
  outline: none;
}

.button-blue:active {
  background: #82B3D3;
}

.button-green:hover,
.button-green:focus {
  background: #6C9E42;
  outline: none;
}

.button-green:active {
  background: #7DB54F;
}

.nav-user-button {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
  border: none;
  background: #ffffff;
  padding: 0;
  }

.button-nav-user-search {
  background-image: url("../images/search.svg");
}

.button-nav-user-favorites {
  background-image: url("../images/heart.svg");
}

.button-wish {
  font-size: 16px;
  line-height: 20px;
  width: 160px;
  height: 36px;
}

.big-button {
  width: 191px;
  height: 36px;
}

.button-reset {
  background: transparent;
}

.button-reset:hover {
  color: #ffffff;
  opacity: 0.6;
}

.button-reset:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
  outline: none;
}

.button-reset:disabled {
  color: #ffffff;
  opacity: 0.1;
}

.button-blue {
  background: #82b3d3;
}

.button-green {
  background: #7db54f;
}

.button-brown {
  background: #756157;
}

.button-gray {
  background: #f2f2f2;
  color: #333333;
  font-weight: 400;
  text-align: center;
  padding-top: 9px;
  height: 28px;
}

/*Main*/

.main-container {
  flex-grow: 1;
}

.clear-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*Hero-block*/

.welcome {
  background-image: url("../images/hero-vector-end.svg"),url("../images/hero-background.jpg");
  background-size: auto, cover;
  background-position: bottom;
  background-repeat: no-repeat;
  min-height: 485px;
}

.welcome-hero {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
}

/*Седона-небольшой городок*/

.advantages-specification-wrapper {
  text-align: center;
  padding-top: 69px;
  min-height: 261px;
}

.advantages-specification {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 620px;
  padding-left: 290px;
}

.advantages-title_preview {
  position: relative;
}

.advantages-title_preview::after {
  content: "";
  width: 60px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 86px;
  left: 85px;
}

.advantages-title_no-preview {
  position: relative;
}

.advantages-title_no-preview::after {
  content: "";
  width: 60px;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 86px;
  left: 85px;
}

/*Рассмотрим причины*/

.advantages-specification-reasons {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*Список причин/преимуществ*/

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.advantages-item {
  display: grid;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}

.advantages-description {
width: 505px;
padding: 64px 347px 20px 347px;

}

.advantages-description-items {
  margin-top: 62px;
  text-align: center;
}

.preview {
  grid-column: 1 / 4;
  background-color: #82b3d3;
  color: #ffffff;
}

.architecture {
  grid-column: 2 / 4;
}

.advantages-wrapper {
  display: flex;
  width: 230px;
  min-height: 200px;
  padding: 90px 85px;
  text-align: center;
  flex-direction: column;
}

.preview-bridge {
  grid-template-columns: repeat(3, 1fr);
}

.bridge {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.background-1 {
  background-color: rgba(131, 179, 211, 0.2);
}

.background-2 {
  background-color: rgba(131, 179, 211, 0.12);
}

/*Приезжайте в Седону*/

.advantages-second {
  text-align: center;
}

.advantages-description {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-description-personal {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  padding: 0px 355px 64px 355px;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.services-item-background {
  background: rgba(131, 179, 211, 0.12);
}

.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 102px;
  position: relative;
}

.services-title_house::before {
  content: "";
  background: url("../images/house.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  position: absolute;
  top: 0px;
}

.services-title-food::before {
  content: "";
  background: url("../images/food.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  position: absolute;
  top: 0px;
  left: 77px;
}

.services-title_souvenirs::before {
  content: "";
  background: url("../images/souvenirs.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 76px;
  position: absolute;
  top: 0px;
  left: 77px;
}

.services-item-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 81px 85px;
}

.services-description {
  color: #333333;
  padding-top: 30px;
  margin: 0;
}

/*Заинтересовались?*/

.search-hotels {
  padding: 96px 304px;
}

.question {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.date-offer {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.button-search-hotel {
  font-size: 20px;
  line-height: 36px;
  width: 376px;
  height: 52px;
}

/*Подписаться*/

.newsletter {
  background: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 415px;
  background-color: #82b3d3;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.newsletter-promise {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.field {
  line-height: 24px;
  width: 452px;
  height: 52px;
  padding: 0;
  padding-left: 20px;
  border-radius: 4px 0px 0px 4px;
  border: 0;
}
.newsletter-form {
  display: flex;
}

.button-newsletter {
  font-size: 20px;
  line-height: 36px;
  background: #82b3d3;
  width: 228px;
  height: 52px;
  border-radius: 0px 4px 4px 0px;
}

.newsletter-wrapper {
  padding: 96px 258px 104px 258px;
}

/*Footer*/

.page-footer-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 40px 70px 30px 70px;
}

.footer-social {
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer-social-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.footer-social-item {
  display: flex;
  background: #ffffff;
  min-width: 47px;
  min-height: 40px;
  align-item: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-social-link {
  padding: 10px 10px;
  box-sizing: border-box;
}

.social-item-svg:active path {
  fill: rgba(104, 162, 202, 0.3);
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  width: 400px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.contacts-phone:hover,
.contacts-phone:focus {
  color: #756157;
  outline: none;
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.madeby {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

.madeby-svg:hover path,
.madeby-svg:focus path {
  fill: #756157;
  outline: none;
}

.madeby-svg:active path {
  fill: rgba(117, 97, 87, 0.3);
}

/*Catalog*/

.inner-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 8px;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-item-main-page {
  background-image: url("../images/home.svg");
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-item::after {
  content: "";
  background-image: url("../images/arrow-right.svg");
  position: relative;
  display: inline-block;
  width: 7px;
  height: 10px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 10px;
  margin-right: 10px;
}

.breadcrumbs-item:last-child:after {
  content: none;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  outline: none;
}

.clear-section {
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
}

.filters-hotels {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.infrastructure {
  margin-bottom: 32px;
}

.infrastructure-list {
  display: grid;
  grid-template-columns: 150px;
  row-gap: 16px;
}

.filters-hotels-group-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  column-gap: 70px;
  margin-right: 140px;
}

.price-wrapper {
  display: grid;
  grid-template-columns: 143px 143px;
  gap: 2px;
}

.control-range {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.filters-hotels-group-buttons {
  flex-wrap: wrap;
  width: 191px;
  margin-top: 56px;
  margin-left: 70px;
  align-items: center;
}

.button-reset {
  margin-top: 32px;
}

.filters-wrapper {
  background-image: url("../images/filters-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 412px;
  padding-top: 35px;
  padding-left: 70px;
  color: #ffffff;
}

/*Тип жилья*/

.infrastructure {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.input-control {
  line-height: 23px;
}

.min-price,
.max-price {
  font-weight: 700;
  line-height: 24px;
  border: none;
}

.min-price {
  border-radius: 4px 0px 0px 4px;
}

.max-price {
  border-radius: 0px 4px 4px 0px;
}

.detailed {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

/*Найдено гостиниц*/

.catalog-down-column {
  display: flex;
  padding: 35px 70px 40px;
}

.hotels-found {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-right: 200px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.sorting {
  color: #333333;
  margin-right: 70px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 292px;
  padding-left: 20px;
}

.sorting:hover,
.sorting:focus {
  border: 2px solid #68A2CA;
  outline: none;
}

.sorting:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

/*.sorting::after {
  content: "";
  background-image: url("../images/arrow-down.svg");
  position: relative;
  display: inline-block;
  width: 12px;
  height: 8px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
*/

.button-filters-hotels-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 8px;
}

.card {
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.card:hover,
.card:active {
  border: 2px solid #000000;
}

.card:focus {
  border: 2px solid #68A2CA;
  outline: none;
}

.card-cards {
  background-image: url("../images/cards.svg");
}

.card-preview {
  background-image: url("../images/preview.svg");
}

.card-list {
  background-image: url("../images/list.svg");
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card {
  display: flex;
  padding: 20px;
  flex-direction: column;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.hotel-card-price {
  margin-left: auto;
}

.stars {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 37px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.star-4 {
  background-image: url("../images/stars-4.svg");
}

.star-3 {
  background-image: url("../images/stars-3.svg");
}

.star-2 {
  background-image: url("../images/stars-2.svg");
}


.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.housing {
  color: #333333;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin-left: 70px;
  margin-right: 70px;
  position: relative;
}

.hotel-card-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 20px 16px;
}

.hotel-list::after {
  content:"";
  position: absolute;
  width: 100%;
  height: 0px;
  border: 1px solid #E6E6E6;
  bottom: -40px;
  box-sizing: border-box;
}

.pagination {
  display: grid;
  grid-template-columns: repeat(6, 60px);
  column-gap: 8px;
  padding: 40px 70px 60px;
  margin-top: 40px;
}

.pagination-item, .pagination-item-dots {
  display: flex;
  height: 60px;
  border-radius: 4px;
  background: #82B3D3;
  align-items: center;
  text-transform: uppercase;
  justify-content: center;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: #FFFFFF;
  min-width: 50px;
  min-height: 50px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  justify-content: center;
}

li.pagination-item-current,
li.pagination-item-current:hover,
li.pagination-item-current:focus,
li.pagination-item-current:active {
  background: #F2F2F2;
  border: none;
  width: 60px;
  height: 60px;
  outline: none;
}

.pagination-link-current,
span.pagination-link-current:active  {
  background: #F2F2F2;
  color: #000000;
}

.pagination-item-dots {
  background: #ffffff;
}

.pagination-item:hover,
.pagination-item:focus {
  width: 58px;
  height: 58px;
  background: #68A2CA;
  border: 1px solid #82B3D3;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  outline: none;
}

.pagination-link:active {
  width: 58px;
  height: 58px;
  color: rgba(255, 255, 255, 0.3);
  background: #82B3D3;
  border-radius: 4px;
}
/*Подписаться в Catalog*/

.newsletter-no-background_title {
  color: inherit;
}

.newsletter-no-background_promise {
  color: inherit;
}

.newsletter-no-background_field {
  background: #f2f2f2;
}
